* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(47, 88%, 63%);
  height: 700px;
  display: grid;
  grid-template-areas:
    "section"
    "footer";
  grid-template-columns: 100%;
  grid-row: 90% 10%;
  font-family: "Figtree";
  color: hsl(0, 0%, 7%);
  font-size: 16px;
}

section {
  grid-area: section;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor {
  margin-top: 90px;
  width: 370px;
  height: 510px;
  background-color: hsl(0, 0%, 100%);
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 9px 9px black;
  display: flex;
  flex-direction: column;
}

.imagen {
  margin: 0 auto;
  margin-top: 20px;
}

.imagen img {
  border-radius: 10px;
}

.category {
  align-items: flex-start;
  width: 90px;
  margin-top: 20px;
  margin-left: 20px;
  
}

.category h3 {
  background-color: hsl(47, 88%, 63%);
  padding: 4px 20px 4px 7px;
  border-radius: 5px;
}

.contenido {
  margin-top: 15px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contenido p{
  color:hsl(0, 0%, 50%) ;
}



.piePagina{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  margin: 20px;
  
}

.piePagina img{
  width: 30px;
  height: 30px;
}


footer {
  grid-area: footer;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(228, 45%, 44%);
}
